/*! locomotive-scroll v3.6.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}
html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.has-scroll-smooth body {
  overflow: hidden;
}
.has-scroll-smooth [data-scroll-container] {
  min-height: 200vh;
}
.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
  opacity: 1;
}
.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999999;
  background-color: #ffffff;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

@font-face {
  font-family: SF Pro;
  src: url(fonts/SF-Pro.ttf);
}

html{
  scroll-behavior: smooth;
  cursor: none; 
}

h1 {
  font-family: SF Pro;
  font-weight: 800;
  font-size: 120px;
  color: white;
  opacity: 0;
  text-align: center;
  transform: translateY(200px);
  transition: text-shadow .5s ease-in-out; 
  text-shadow: 0px 0px 50px #ffffff00;
}
h1:hover{
  transition: text-shadow .5s ease-in-out; 
  text-shadow: 0px 0px 50px #ffffff97;
}
h3 {
  font-family: SF Pro;
  color: #fff;
  text-align: center;
  padding-top: 3%;
  font-size: 25px;
  opacity: 0;
  padding-bottom: 20px;
  transform: translateY(100px);
  text-shadow: 0px 0px 50px #ffffff00;
  padding-left: 25%;
  padding-right: 25%;
}


body {
  background-color: #16002d;
  transform: perspective(1px);
}

.download-btn {
  position: absolute;
  font-size: 20px;
  text-align: center;
  left: 45%;
  border-radius: 10px;
  font-family: SF Pro;
  background-image: linear-gradient(#e356ff, #9505e3);
  color: white;
  height: 2.5%;
  width: 10%;
  font-weight: 700;
  border-color: #efa7ff;
  transform: translateY(75px) scale(1.0);
  opacity: 0;
  transition: box-shadow .5s ease-in-out; 
  box-shadow: 0px 0px 70px 20px rgba(252, 91, 255, 0.181);
  
}
.download-btn:hover {
  transition: all .5s ease-in-out; 
  background-image: linear-gradient(#ed63ff, #c653ff);
  cursor: none; 
  transform: scale(1.1);
  box-shadow: 0px 0px 100px 20px rgba(252, 91, 255, 0.585);
}



.blob {
  opacity: 0;
  bottom: 150px
}

.card {
  opacity: 0;
  width: 60%;
  left: 20.25%;
  top: 70px;
  position:relative;
  z-index: 0;
  transition: transform .5s ease-in-out; 
  transform: scale(1);
}

.card:hover {
  transform: scale(1.05);

}

.custom-cursor {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  pointer-events: none; 
  box-shadow: 0px 0px 50px #000;
  mix-blend-mode: difference; 
  z-index: 1000;
  transform: scale(0.85);
}



.mac-card {
  position:absolute;
  left: 8%;
  width: 60%;
  transform: scale(40%);
  opacity: 0;
}

.windows-card {
  position:absolute;
  left: 35%;
  transform: scale(40%);
  opacity: 0
}

.mac-image {
  transition: transform .5s ease-in-out; 
}

.mac-image:hover {
  transform: scale(1.05);

}

.windows-image {
  transition: transform .5s ease-in-out; 
}

.windows-image:hover {
  transform: scale(1.05);

}